{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Qui tempora suscipit nobis dolor repellat, aliquam nostrum vero porro ipsa voluptate, veniam alias repellendus iusto ex consequuntur enim mollitia. Molestiae ex suscipit magnam earum, tempora eum accusamus, dolore laboriosam eaque, nihil possimus labore doloribus unde quaerat velit iusto repellat consequuntur aut natus ullam officia eos? Ullam libero pariatur officiis ea dolor qui odit sint. Mollitia nihil ducimus nobis perspiciatis! Placeat, pariatur maxime consequatur sit, quae tempore ducimus modi vel nesciunt odit et tempora. Perspiciatis maxime harum laboriosam veritatis obcaecati quia tempora inventore corrupti, molestiae error optio accusantium illo sunt animi delectus?</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark|" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>

{% endblock %}